.MuiPaper-root.dstable-root{
    width: auto;
    max-width:1280px;
    margin: 0 auto;
    padding: 0 24px;
    .MuiTable-root{
        .MuiTableHead-root{
            .MuiTableRow-root{
                .MuiTableCell-root.MuiTableCell-head{
color: #00B3FF;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
border: none;
text-align: left;
.MuiFormControl-root{
    .MuiOutlinedInput-root{
        .MuiSelect-outlined{
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }
        background-color: yellow;
        .MuiOutlinedInput-notchedOutline{
            border: none;
            outline: none;
            width:0;
            height:0;
        
        }
    }
}
                }
            }
        }
        .MuiTableBody-root{
            .MuiTableRow-root{
               
                  &:nth-child(odd){
                    background-color: #F4FAFF; 
                 }
                .MuiTableCell-root.MuiTableCell-body{
                    border: none;
                    color: rgba(6, 6, 6, 0.8);
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    
                  text-align: left;
                }
            }
        }
    }
}